@model SercicesMS.Models.Service
@{
    ViewBag.Title = "详情";
}

<h2>详情</h2>
<div>
    <img src="@Model.Pic_Path" height="300" />
    <div>
        @Html.DisplayNameFor(m => m.S_Name)
        @Html.DisplayFor(m => m.S_Name)
    </div>
    <div>
        @Html.DisplayNameFor(m => m.Pic_Path)
        @Html.DisplayFor(m => m.Pic_Path)
    </div>
    <div>
        @Html.DisplayNameFor(m => m.S_Path)
        @Html.DisplayFor(m => m.S_Path)
    </div>
    <div>
        @Html.DisplayNameFor(m => m.S_User)
        @Html.DisplayFor(m => m.S_User)
    </div>
    <div>
        @Html.DisplayNameFor(m => m.S_Pwd)
        @Html.DisplayFor(m => m.S_Pwd)
    </div>
    <div>
        @Html.DisplayNameFor(m => m.S_CreatTime)
        @Html.DisplayFor(m => m.S_CreatTime)
    </div>
</div>
<div>
    @Html.ActionLink("编辑信息", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("返回列表", "Inf")
</div>