@model SercicesMS.Models.Service
@{
    ViewBag.Title = "编辑";
}
<div class="page-header">
    <h2>编辑</h2>
</div>


<form class="form-horizontal " action="/Services/Edit/@Model.ID" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    @{
        string x;
        if (Model.Pic_Path == null)
        {
            x = "/File/no_picture.png";
        }
        else
        {
            x = Model.Pic_Path;
        }

    }

    <div class="form-group">
        <label for="inputfile" class="col-sm-2 control-label">更换图片</label>
        <div class="col-sm-10">
            <img src="@x" id="xmTanImg" height="200" />
            <div id="xmTanDiv"></div>
            <input type="file" name="Pic" id=" xdaTanFileImg inputfile" onchange="xmTanUploadImg(this)" accept="image/*" />
        </div>
    </div>

    <div class="form-group">
        <label for="S_Name" class="col-sm-2 control-label">服务名称</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" data-val="true" data-val-required="服务名称 字段是必需的。" id="S_Name" name="S_Name" value="@Model.S_Name" />
        </div>
    </div>

    <div class="form-group">
        <label for="S_Path" class="col-sm-2 control-label">服务地址</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" data-val="true" data-val-required="服务地址 字段是必需的。" id="S_Path" name="S_Path" value="@Model.S_Path" />
        </div>
    </div>

    <div class="form-group">
        <label for="S_User" class="col-sm-2 control-label">用户名</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="S_User" name="S_User" value="@Model.S_User" />
        </div>
    </div>

    <div class="form-group">
        <label for="S_Pwd" class="col-sm-2 control-label">用户密码</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" data-val="true" data-val-minlength="字段 用户密码 必须是最小长度为“6”的字符串或数组类型。" data-val-minlength-min="6" id="S_Pwd" name="S_Pwd" value="@Model.S_Pwd" />
        </div>
    </div>

    <div class="form-group">
        <label for="S_Admin" class="col-sm-2 control-label">负责人</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="S_Admin" name="S_Admin" value="@Model.S_Admin" />
        </div>
    </div>

    <div class="form-group">
        <label for="S_Remark" class="col-sm-2 control-label">备注</label>
        <div class="col-sm-8">
            <textarea type="text" class="form-control text-box" rows="5" id="S_Remark" name="S_Remark">@Model.S_Remark</textarea>
        </div>
    </div>

    <div style="display: none">
        @Html.EditorFor(m => m.S_CreatTime)
    </div>

    <div style="display: none">
        @Html.EditorFor(m => m.Pic_Path)
    </div>

    <div style="display: none">
        @Html.EditorFor(m => m.S_LastTime)
    </div>

    <div class="form-group container">

        <input type="submit" class="btn btn-default center-block" value="保存" />

    </div>
   

</form>

<script type="text/javascript">
    //判断浏览器是否支持FileReader接口

    if (typeof FileReader == 'undefined') {
        document.getElementById('xmTanDiv').innerHTML = "<h1>当前浏览器不支持FileReader接口</h1>";
        //使选择控件不可操作
        document.getElementById("xdaTanFileImg").setAttribute("disabled", "disabled");
    }
    function xmTanUploadImg(obj) {
        var file = obj.files[0];
        console.log(obj);
        console.log(file);
        console.log("file.size = " + file.size);  //file.size 单位为byte
        var reader = new FileReader();


        //读取文件过程方法
        reader.onloadstart = function (e) {
            console.log("开始读取....");
        }
        reader.onprogress = function (e) {
            console.log("正在读取中....");
        }
        reader.onabort = function (e) {
            console.log("中断读取....");
        }
        reader.onerror = function (e) {
            console.log("读取异常....");
        }
        reader.onload = function (e) {
            console.log("成功读取....");

            var img = document.getElementById("xmTanImg");
            img.src = e.target.result;
            //或者 img.src = this.result;  //e.target == this
        }

        reader.readAsDataURL(file)



    }

</script>

